---
import { Image } from 'astro:assets';
const { social } = Astro.props;
const { user, total, days, description, image, arrow, borderColor } =
    social.data;

let colorDaytag = 'white';
if (arrow && days > 50) {
    colorDaytag = 'hsl(163, 72%, 41%)';
} else if (!arrow && days > 50) {
    colorDaytag = 'hsl(356, 69%, 56%)';
}

import iconUp from '../assets/icon-up.svg';
import iconDown from '../assets/icon-down.svg';
---

<article class="social-card">
    <header>
        <img src={image} alt="icon " />
        <p class="user">{user}</p>
    </header>
    <div class="card-body">
        <p class="total">{total}</p>
        <p class="description">{description}</p>
    </div>
    <footer>
        {
            arrow ? (
                <Image src={iconUp} alt="icon " />
            ) : (
                <Image src={iconDown} alt="icon " />
            )
        }

        <span class="days"><span>{days}</span> Today</span>
    </footer>
</article>

<style define:vars={{ borderColor, colorDaytag }}>
    article {
        background-color: var(--card-bg-clr);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        gap: 1.8rem;
        border-radius: 5px;
        border-top: 4px solid var(--borderColor);
    }

    header,
    footer {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    .user {
        color: var(--text);
        font-size: 13px;
    }

    .total {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.1;
    }

    .description {
        color: var(--text);
        text-transform: uppercase;
        letter-spacing: 3px;
        opacity: 0.7;
    }

    .days {
        color: var(--colorDaytag);
        font-weight: 700;
    }
</style>
