---
import { Image } from 'astro:assets';
const { social } = Astro.props;
const { user, total, days, description, image, arrow } = social.data;
import iconUp from '../assets/icon-up.svg';
---

<article>
    <header>
        <img src={image.src} alt="icon " />
        <p class="user">{user}</p>
    </header>
    <div class="card-body">
        <p class="total">{total}</p>
        <p class="description">{description}</p>
    </div>
    <footer>
        <Image src={iconUp} alt="icon " />
        <span><span>{days}</span> Today</span>
    </footer>
</article>

<style>
    article {
        background-color: var(--dark-desaturated-blue);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.8rem;
        border-radius: 5px;
        border-top: 4px solid var(--facebook);
    }

    header,
    footer {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    .user {
        color: var(--desaturated-blue);
        font-size: 13px;
    }

    .total {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.1;
    }

    .description {
        color: var(--desaturated-blue);
        text-transform: uppercase;
        letter-spacing: 3px;
        opacity: 0.7;
    }
</style>
